@model IEnumerable<Compuskills.Projects.TotalTimesheetPro.Domain.Models.TimesheetEntry>

@{
    ViewBag.Title = "Index";
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            //datepicker
           
                $("#datepicker").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    onSelect: function () {
                        var d = $(this).datepicker('getDate');
                        var dateObject={
                            datestring: d.toISOString(),
                        }
                        $.ajax({
                            cache: false,
                            type: "POST",
                            async: false,
                            url: "/EnterTime/_Index",
                            data: dateObject,
                            success: function (data) {
                                $("#table").html(data);


                            },
                            error: function (xhr) {
                                alert("Error");
                                alert(xhr.responseText);
                            }
                        });
                    }
                });
            $("#datepicker").datepicker().datepicker("setDate", new Date());
    </script>
}
<div class="row">
    <div  class="col-lg-8 col-md-8 col-sm-8">
        <h2>Date: <input type="text" id="datepicker"></h2>
        <div id="table">
            @Html.Action("_Index")
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        @Html.Action("Create")
    </div>
</div>
