@model IEnumerable<Compuskills.Projects.TotalTimesheetPro.Domain.Models.TimesheetEntry>

@{
    ViewBag.Title = "Index";
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            //datepicker
            var ButtenDisable = function () {
                $.ajax({
                            cache: false,
                            type: "GET",
                            async: false,
                            url: "/EnterTime/GetStartOrStop",
                    success: function (data) {
                                $(".btnStart").attr("disabled", true);
                                if (data==true) {
                                    $("#btnStart").attr("disabled", false);
                                } else {
                                     $("#btnStop").attr("disabled", false);
                                }


                            },
                            error: function (xhr) {
                                alert("Error");
                                alert(xhr.responseText);
                            }
                        });
            }
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                onSelect: function () {
                        var d = $(this).datepicker('getDate');
                        var dateObject = {
                            datestring: d.toISOString(),
                        }
                        $.ajax({
                            cache: false,
                            type: "POST",
                            async: false,
                            url: "/EnterTime/_Index",
                            data: dateObject,
                            success: function (data) {
                                $("#table").html(data);


                            },
                            error: function (xhr) {
                                alert("Error");
                                alert(xhr.responseText);
                            }
                        });
                    
                }
            });
            $("#datepicker").datepicker().datepicker("setDate", new Date());
            ButtenDisable();

            $(".btnStart").click(function (e) {
                e.preventDefault();
                var ClientDd = $("#ClientIDDrop").val()
                var ProjectDd = $("#ProjectIDDrop").val()

                var createObject = {
                    Client: ClientDd,
                    Project: ProjectDd,
                    }
                $.ajax({
                        cache: false,
                        type: "POST",
                        async: false,
                        url: "/EnterTime/Create",
                        data: createObject,
                        success: function (data) {
                            $("#createDiv").html(data);

                            var d = $("#datepicker").datepicker('getDate');
                            var dateObject = {
                            datestring: d.toISOString(),
                                }
                                $.ajax({
                                cache: false,
                                type: "POST",
                                async: false,
                                url: "/EnterTime/_Index",
                                data: dateObject,
                                success: function (data) {
                                    $("#table").html(data);
                                    },
                                error: function (xhr) {
                                    alert("Error");
                                    alert(xhr.responseText);
                                    }
                                });
                            ButtenDisable();
                            },
                        error: function (xhr) {
                            alert("Error");
                            alert(xhr.responseText);
                        }
                    });
            });
        });
    </script>
}
<div class="row">
    <div  class="col-lg-8 col-md-8 col-sm-8">
        <h2>Date: <input type="text" id="datepicker"></h2>
        <div id="table">
            @Html.Action("_Index")
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <div id="createDiv">
            @Html.Action("Create")
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-2">
                <input id="btnStart" type="submit"  value="Start" class="btn btn-success btnStart" />
            </div>
            <div class="col-md-offset-2 col-md-2">
                <input id="btnStop" type="submit" value="Stop" class="btn btn-danger btnStart" />
            </div>
        </div>
    </div>
</div>
