
@{
    ViewBag.Title = "Client";
}
    <h2>Please add a Client before using this feature</h2>
    <div class="form-group">
        <br />
        <div class="col-md-10">
            @Html.ActionLink("Add Client", "Index", "ManageClients", null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    </div>
    <br />
