
@{
    ViewBag.Title = "Project";
}

    <h2>Please add a Project before using this feature</h2>
<div class="form-group">
    <br />
    <div class="col-md-10">
        @Html.ActionLink("Add Project", "Index", "ManageProjects", null, htmlAttributes: new { @class = "btn btn-default" })
    </div>
</div>
<br />

